duckdb-schema/
db-schema/
antismash_db_duckb/
.env
antismash_db.duckdb
as_domain_update.json
asdb_cache.json
db-import/
deferred_imported.txt
imported.txt
ncbi-taxdump/
input_files/
antismash_db_test.duckdb
